@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 100%);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.1rem;
    text-align: center;
}
main{
    width: 100%;
}
.results{
    background: linear-gradient( #6743ff, hsl(241, 81%, 54%));
    padding: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
}
.your_results{
    color: hsl(241, 100%, 89%);
    font-weight: 700;
}
.cercle{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 20px;
    background: linear-gradient( #4c22cb, hsla(241, 72%, 46%, 0));
}
.res{
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    font-size: 3.5rem;
}
.sur100{
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    font-size: 1rem;
}
.remarque{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.45rem;
}
.comment{
    color: hsl(241, 100%, 89%);
    margin: 9px;
    padding: 0px 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 500;
}
.summary{
    padding: 24px;
}
.summary > p{
    color: hsl(224, 30%, 27%);
    text-align: left;
    margin-left: 6px;
    font-size: 1.15rem;
    font-weight: 800;
}
.reaction, .memory, .verbal, .visual{
    margin: 20px 5px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
}
.name{
    margin-left: 13px;
    font-size: 1rem;
    font-weight: 500;
}
.reaction{
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}
.memory{
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}
.verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}
.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}
.summary-res, .summary-sur100{
    font-size: 1rem;
    font-weight: 800;
    margin-right: 10px;
}
.summary-res{
    margin-left: auto;
    margin-right: 5px;
    color: hsl(224, 30%, 27%);
}
.summary-sur100{
    color:#a59fa8;
}
.btn > p{
    margin: 0 auto;
    font-weight: 700;
}
.btn{
    background-color: #303b59;
    color: hsl(0, 0%, 100%);
    border-radius: 120px;
    margin: 20px 5px;
    margin-bottom: 0;
    height: 55px;
    padding: 15px;
}
.btn:hover{
    background: linear-gradient( #6743ff, hsl(241, 81%, 54%));
    cursor: pointer;
}
@media screen and (min-width: 500px) and (max-width: 799px) {
    main{
        border-radius: 30px;
        margin: 50px auto;
        width: 450px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .results{
        border-radius: 30px;
    }
}

@media screen and (min-width: 800px) {
    body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    main{
        width: 700px;
        display: flex;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .summary{
        width: 50%;
    }
    .results{
        border-radius: 30px;
        width: 50%;
    }
    footer{
        position:absolute;
        bottom: 0;
        right: 0;
    }
}


footer{
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
}
footer > p{
    display: inline;
}
footer a { color: hsl(228, 45%, 44%); }